<h2>Enter the shipping Options:</h2>
<form [formGroup]="shippingForm" class="example-form">

    <div div class="example-container">
        <p>
          <mat-radio-group formControlName="shippingOption">
            <mat-radio-button value="1">Ground</mat-radio-button>
            <mat-radio-button value="2">Priority</mat-radio-button>
          </mat-radio-group>
        </p>
    </div>

   <div class="weight">
        <h2>Enter the weight:</h2>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Weight</mat-label>
            <input matInput type="number" formControlName="weight" name="weight"  maxlength="5" value="1">
            <mat-hint align="end">lbs</mat-hint>
        </mat-form-field><br>
    </div>

        <div class="bottons-container">
            <button  mat-raised-button color="primary" (click)="onClickStep('back')">Back</button>
            <button  mat-raised-button color="primary" (click)="onClickStep('next')" [disabled]="!shippingForm.valid">Next</button>
        </div>

</form>
