.container{
  margin-top: 200px;
}

.mat-progress-bar {
  padding-bottom: 10px;
}

.header{
  text-align:center;
  padding: 20px;
}
h2{
  text-align: right;
    margin: 20px;
}

.wizard-container{
  padding:10px;
  max-width: 60%;
}
