
<div class="container wizard-container">
   <div class="row">
         <div class="col-12">
            <mat-card class="shipping-card " >
                <div class="header">
                <app-header> {{ header }} </app-header>
                </div>
                <mat-card-content>
                  <mat-progress-bar mode="determinate" [value]="currentStep"></mat-progress-bar>
                  <mat-tab-group  dynamicHeight [selectedIndex]="step">
                   <mat-tab>
                        <app-sender-address [contextFromObj]="context"></app-sender-address>
                    </mat-tab>
                    <mat-tab>
                         <app-reciver-address [contextToObj]="context"></app-reciver-address>
                    </mat-tab>
                    <mat-tab>
                         <app-shipping [contextShippingtObj]="context"></app-shipping>
                    </mat-tab>
                    <mat-tab>
                         <app-confirm [contextConfirmObj]="context"  (contextInfoEvent)="emitContext($event)" ></app-confirm>
                    </mat-tab>
                  </mat-tab-group>
                </mat-card-content>
            </mat-card>
  </div>
</div>
